<ion-view class="kf-background-page">
 <ion-content class="padding has-header has-footer">
    <div class="padding-left kf-title-black">Sobre Kid Friendly:</div>
    <br><br><br>
    <div>
	  	<p align="justify">
	  	Você já ouviu falar no termo “Kid Friendly”? É um conceito mundial que se dá aos espaços em que famílias podem frequentar confortavelmente ao lado das crianças, e que estão preparados para receber e divertir os pequenos. 
	  	<br>
		A partir dessa demanda, surgiu o aplicativo e site <b>KidFriendly</b>, um serviço on-line que tem o objetivo de ajudar mães e pais a escolherem, antes de sair de casa, um estabelecimento que atenda às necessidades de toda a família, principalmente das crianças.
		 Em uma simples pesquisa o usuário encontra recomendações de outros usuários sobre restaurantes, hotéis, passeios e outros estabelecimentos, com o foco na experiência e nos atrativos que o local oferece para as crianças, de todas as idades.
		<br>
		Por meio de dicas e opiniões registradas, você consegue escolher o lugar ideal para você levar sua família. Colabore, avalie e encaminhe o seu comentário sobre os locais <b>KidFriendly</b> que você conhece. 
		Agora, se você é empresário, venha ser um parceiro e anuncie no <b>KidFriendly</b>. Mande um e-mail para <font style='text-decoration: underline;'>contatos@kidfriendly.com.br</font> e busque mais informações.
		</p>
	  </div>
  </ion-content>
</ion-view>
