<ion-view class="kf-background-page">
 <ion-content class="padding has-header has-footer">
    <div class="padding-left kf-title-black">Termos de Uso:</div>
    <br><br><br>
    <div>
	  	<p align="justify">
	  	Bem-vindo ao <font style='text-decoration: underline;'>KidFriendly</font>, um aplicativo fornecido para auxiliar os usuários na coleta de informações e na publicação de opiniões sobre locais que oferecem atrativos para usuários frequentarem acompanhados de crianças.
	  	<br>
		O KidFriendly é oferecido a você mediante sua aceitação, sem a modificação de todos ou quaisquer termos, condições e avisos descritos abaixo (coletivamente, o "Contrato"). Quando você acessa o site ou usa o aplicativo, você concorda em cumprir o Contrato e declara que leu e compreendeu os termos contidos nele. Leia atentamente o Contrato. Se você não aceitar todos os termos e condições, não use o KidFriendly.
		<br>
		No futuro, poderemos alterar ou modificar de alguma maneira o Contrato e você entende e concorda que continuar acessando ou usando o KidFriendly após essas alterações implica sua aceitação do Contrato atualizado ou modificado. Anotaremos a data em que as últimas revisões foram feitas no Contrato na parte inferior da página, e todas as revisões entrarão em vigor após a publicação. Lembre-se de acessar esta página periodicamente para analisar a versão mais atual do Contrato.
		<br><br>
		<b>USO DO KIDFRIENDLY</b>
		<br>
		Como condição de uso do KidFriendly, você garante que (i) todas as informações fornecidas por você são verdadeiras, precisas, atuais e completas; (ii) se você tiver uma conta KidFriendly, você protegerá e supervisionará suas informações de conta e será totalmente responsável por qualquer uso da sua conta por outra pessoa. 
		<br>
		Reservamo-nos o direito, a nosso exclusivo critério, de negar o acesso a qualquer pessoa e aos serviços que oferecemos, a qualquer momento e por qualquer motivo, incluindo, sem limitação, a violação do presente Contrato.
		<br><br>
		<b>ATIVIDADES PROIBIDAS</b>
		<br>
		O conteúdo e as informações contidas no KidFriendly, assim como a infraestrutura usada para fornecer esse conteúdo e informações, são de nossa propriedade. Você concorda em não:
		<ul>
			<li>(i) usar o KidFrienfly ou seu conteúdo para qualquer fim comercial</li>
			<li>(ii) acessar, monitorar ou copiar qualquer conteúdo ou informação no KidFriendly usando qualquer tipo de robô, spider, scraper ou outros meios automatizados ou qualquer processo manual para qualquer finalidade, sem a nossa expressa autorização por escrito;</li>
			<li>(iii) violar as restrições em qualquer cabeçalho de exclusão de robôs ou burlar outras medidas aplicadas para prevenir ou limitar o acesso a este Site;</li>
			<li>(iv) realizar qualquer ação que imponha ou possa impor, a nosso critério, uma carga injustificável ou desproporcionalmente grande à nossa infraestrutura;</li>
			<li>(v) estabelecer links profundos para qualquer finalidade, sem nossa autorização expressa por escrito; ou
			<li>(vi) enquadrar, espelhar ou de outra maneira incorporar qualquer parte do KidFriendly em qualquer outro site sem a nossa autorização prévia por escrito.</li>
			<li>(vii) tentar modificar, traduzir, adaptar, editar, descompilar, desmontar ou fazer engenharia reversa de qualquer programa de software usado pelo KidFriendly.</li>
		</ul>
		<br><br>
		<b>AVALIAÇÕES, COMENTÁRIOS E USO DE OUTRAS ÁREAS INTERATIVAS</b>
		<br>
		Esteja ciente de que ao enviar conteúdo para o KidFriendly, como avaliações de hotéis, perguntas, comentários, sugestões, ideias ou formas similares, você concederá ao KidFriendly o direito não exclusivo, isento de royalties, perpétuo, transferível, irrevogável e totalmente sublicenciável para (a) utilizar, reproduzir, modificar, adaptar, traduzir, distribuir, publicar, criar trabalhos derivados de, exibir publicamente e executar tais avaliações em todo o mundo em qualquer mídia, conhecida no momento ou desenvolvida no futuro, para qualquer finalidade; e (b) usar o nome que você enviou. Você reconhece que o KidFriendly pode optar por citar a fonte de seus comentários ou avaliações de acordo com nosso critério. Você também concede ao KidFriendly o direito de processar judicialmente qualquer pessoa ou entidade que violar seus direitos. Você reconhece e concorda que as avaliações não são confidenciais e não são de sua propriedade.
		Você concorda expressamente em não usar o KidFriendly para postar, fazer upload, transmitir, distribuir, armazenar, criar ou publicar:
		<ul>
			<li>a.         Quaisquer mensagens, dados, informações, texto, música, som, fotografias, gráficos, códigos ou qualquer outro material que seja ilegal, calunioso, difamatório, obsceno, pornográfico, indecente, lascivo, sugestivo, provocador, ameaçador, violador da privacidade ou de direitos de publicidade, abusivo, incitante, fraudulento ou de qualquer forma censurável;</li>
			<li>b.         Conteúdo que possa constituir, encorajar ou fornecer instruções para um delito, violação de direitos de qualquer parte ou que de outra forma crie responsabilidade civil ou viole qualquer lei local, estadual, nacional ou internacional;</li>
			<li>c.         Conteúdo que possa violar qualquer patente, marca registrada, segredo comercial, direitos autorais ou outros direitos de propriedade intelectual ou direitos de propriedade de qualquer parte;</li>
			<li>d.         Conteúdo que personifique qualquer pessoa ou entidade ou deturpe a sua afiliação com uma pessoa ou entidade, incluindo o KidFriendly;</li>
			<li>e.         Promoções não solicitadas, campanha política, publicidade, concursos, sorteios ou solicitações;</li>
			<li>f.          Informações privadas de terceiros, incluindo, sem limitação, sobrenome (nome de família), endereços, números de telefone, endereços de e-mail, número de seguridade social e números de cartão de crédito;</li>
			<li>g.         Vírus, dados corrompidos ou outros arquivos prejudiciais e destrutivos;</li>
			<li>h.         Conteúdo que não tenha relação com o tópico da(s) Área(s) Interativa(s) em que o Conteúdo foi publicado; ou</li>
			<li>i.           Conteúdo ou links para conteúdos que, a critério exclusivo do KidFriendly (a) viole as subseções anteriores mencionadas neste documento, (b) seja censurável ou (c) restrinja ou iniba qualquer outra pessoa de usar ou aproveitar as áreas Interativas do KidFriendly</li>
		</ul>
		 <br>
		O KidFriendly não assume nenhuma responsabilidade por qualquer Conteúdo postado, armazenado ou carregado por você ou qualquer terceiro, ou por perdas ou danos, e também não é responsável por qualquer erro, difamação, calúnia, omissão, falsidade, obscenidade, pornografia ou grosserias que você possa identificar. Como um provedor de serviços interativos, o KidFriendly não se responsabiliza por quaisquer declarações, representações ou Conteúdo fornecido pelos usuários em qualquer fórum público, página pessoal ou outra Área Interativa. Todas os comentários feitos pelo KidFriendly passarão por monitoramente que irá aprovar ou não a sua publicação. O KidFriendly se reserva o direito, ao seu absoluto critério, de remover, analisar, traduzir ou editar, sem aviso prévio, qualquer Conteúdo postado ou armazenado a qualquer momento e por qualquer motivo.  Você é o único responsável pela criação de cópias de segurança e a substituição de qualquer Conteúdo que publicar ou armazenar no KidFriendly.
		Se for determinado que você detém os direitos morais (incluindo direitos de atribuição ou integridade) do Conteúdo, você declara que você: (a) não exige que qualquer informação de identificação pessoal seja usada em relação ao Conteúdo, ou quaisquer trabalhos derivados ou melhorias ou atualizações dos mesmos; (b) não tem nenhuma objeção em relação à publicação, utilização, modificação, exclusão e exploração do Conteúdo pelo Kid Friendly; (c) renuncia e concorda de maneira permanente em não reclamar ou reivindicar qualquer direito a quaisquer e a todos direitos morais de um autor sobre qualquer Conteúdo; e (d) isenta permanentemente o KidFriendly de qualquer reivindicação contra o KidFriendly em virtude desses direitos morais.
		Qualquer utilização que viole os termos do presente Contrato poderá resultar em, entre outras coisas, a cessação ou suspensão dos seus direitos de utilização das Áreas Interativas e/ou deste Site.
		</p>
	  </div>
  </ion-content>
</ion-view>
