<ion-view cache-view="false">
  <ion-nav-title>
    Indique
  </ion-nav-title>
  <ion-content>
    <div layout="row">
      <div flex class="text-align-center">
        <img ng-src="images/svg/kid-indicate.svg" style="height: 30vh !important;">
      </div>
    </div>
    <div layout="row">
      <div flex class="text-align-center font-myriad-set-pro-thin color-back-054">
        <span>
        Indique um restaurante <strong class="color-orange">Kid Friendly</strong><br/>para adicionarmos ao aplicativo!
      </div>
    </div>
    <form name="vm.formIndicate" novalidate style="margin: 0vh 5vw 0 5vw;">
      <div layout="column" style="margin-bottom: 1vh; padding-top: 1vh">
        <div flex style="margin-bottom: 1vh;" ng-if="vm.isLoggedSocialNetworkNotEmail()">
          <label class="item-input item-stacked-label">
            <span class="input-label" for="email">Email *</span>
            <input id="email" name="email" type="email" data-ng-model="vm.emailDto.fromEmail" autocomplete="off" required email-validator>
          </label>
        </div>
        <div flex  style="margin-bottom: 1vh;">
          <label class="item-input item-stacked-label">
            <span class="input-label" for="establishment">Estabelecimento *</span>
            <input id="establishment" name="establishment" type="text" data-ng-model="vm.establishment" autocomplete="off" minlength="5" maxlength="300" required>
          </label>
        </div>
        <div flex layout="row" style="margin-bottom: 1vh;">
          <div flex>
            <label class="item-input item-stacked-label">
              <span class="input-label" for="address">Endereço *</span>
              <input id="address" name="address" type="text" data-ng-model="vm.address" autocomplete="off" minlength="5" maxlength="500" required>
            </label>
          </div>
          <div class="align-self-center" style="padding: 0 1vw 0 1vw" ng-click="vm.getLocation()">
            <i class="icon ion-location cursor-pointer color-orange" style="font-size: 3rem;"></i>
          </div>
          <div class="align-self-center font-myriad-set-pro-thin color-back-054 cursor-pointer" ng-click="vm.getLocation()">
            Anexar<br/>localização
          </div>
        </div>
        <div flex>
          <label class="item-input item-stacked-label">
            <span class="input-label" for="comment">Comentário</span>
            <textarea id="comment" name="comment" data-ng-model="vm.comment" autocomplete="off" minlength="20" maxlength="1000"></textarea>
          </label>
        </div>
      </div>
      <div layout="row" style="padding-bottom: 1vh">
        <div flex class="text-align-right">
          <button class="button button-small" type="button" ng-disabled="vm.formIndicate.$invalid" ng-click="vm.send();">
            ENVIAR
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>