<ion-view hide-back-button="true">
  <ion-nav-title>
    Perfil
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button button-icon icon ion-log-out" ng-click="vm.logout();">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <from name="vm.formPerfil" novalidate>
      <div class="container-avatar-perfil text-align-center">
        <img ng-src="images/svg/user-empty.svg" class="avatar" style="height: 30vh;" ng-if="vm.user.mgUser === null" ng-click="vm.getPicture(1);">
        <img ng-src="data:image/*;base64,{{vm.user.mgUser}}" class="avatar" style="height: 30vh;" ng-if="vm.user.mgUser !== null" ng-click="vm.getPicture(1);">
        <div class="camera-avatar-perfil cursor-pointer" ng-click="vm.getPicture(1);"></div>
      </div>
      <div layout="row" style="margin: 0 14vw 0 14vw;">
        <div flex class="align-self-center">
          <input id="name" name="name" type="text" data-ng-model="vm.user.dsName" autocomplete="off" required ng-readonly="vm.readonlyName"
            class="text-align-center" style="color: #F44F0F !important; font-size: 1.5rem;">
        </div>
        <div>
          <i class="ion-edit-off-small cursor-pointer" ng-click="vm.readonlyName = !vm.readonlyName;"></i>
        </div>
      </div>
      <div layout="column" style="margin: 5vh 5vw 0 5vw;">
        <div flex layout="row">
          <div flex="60" style="padding-right: 5vw;">
            <label class="item-input item-stacked-label">
              <span class="input-label" for="birthDay">Data de Nascimento</span>
              <input id="birthDay" name="birthDay" type="date" data-ng-model="vm.dtBirthDay" autocomplete="off"
                min="{{vm.minDtBirthDay}}" max="{{vm.maxDtBirthDay}}">
            </label>
          </div>
          <div flex>
            <label class="item-input item-stacked-label">
              <span class="input-label" for="state">Estado</span>
              <select id="state" data-ng-model="vm.idState" ng-options="item.idState as item.desState for item in vm.states"
                ng-change="vm.listCityByState(vm.idState);">
                <option value=""></option>
              </select>
            </label>
          </div>
        </div>
        <div flex layout="row" style="margin-top: 1vh;">
          <div flex="60" style="padding-right: 5vw;">
            <label class="item-input item-stacked-label">
              <span class="input-label" for="gender">Gênero</span>
              <select id="gender" data-ng-model="vm.user.genderEnum" ng-options="item.value as item.label for item in vm.genders">
                <option value=""></option>
              </select>
            </label>
          </div>
          <div flex>
            <label class="item-input item-stacked-label">
              <span class="input-label" for="city">Cidade <span ng-if="vm.idState !== null">*</span></span>
              <select id="city" data-ng-model="vm.idCity" ng-options="item.idCity as item.desCity for item in vm.cities" ng-required="vm.idState !== null">
                <option value=""></option>
              </select>
            </label>
          </div>
        </div>
        <div flex layout="row" style="margin-top: 1vh;">
          <div flex="60" style="padding-right: 5vw;">
            <label class="item-input item-stacked-label">
              <span class="input-label" for="children">Filhos</span>
              <input id="children" name="children" type="number" data-ng-model="vm.user.nmChildren" autocomplete="off" maxlength="2">
            </label>
          </div>
          <div flex class="text-align-right" style="align-self: flex-end">
            <button class="button button-small" type="button" ng-disabled="vm.formPerfil.$invalid" ng-click="vm.save();">
              SALVAR
            </button>
          </div>
        </div>
      </div>
    </from>
  </ion-content>
</ion-view>
<!--
<ion-modal-view class="kf-background-page">
  <ion-header-bar align-title="center" class="kf-header-logo">
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-close-empty" ng-click="vm.closeLogin();"></button>
    </div>
  </ion-header-bar>
  <ion-content class="padding" scroll="false" style="top:33.33% !important; right: 2% !important; left: 2% !important">
    <div class="padding" style="box-shadow: 1px 1px 5px #888888;">
      <div>
        <button class="button button-block button-positive kf-no-margin-bottom" ng-click="vm.authenticateFB();">
          Facebook
        </button>
      </div>
      <div class="kf-display-flex kf-align-itens-center margin-top margin-bottom" style="height: 2em;">
        <div class="kf-width-45-porcent">
          <hr />
        </div>
        <div class="kf-width-10-porcent margin-left margin-right text-center">ou</div>
        <div class="kf-width-45-porcent">
          <hr />
        </div>
      </div>
      <div>
        <form name="vm.formLogin" novalidate ng-submit="vm.authenticate();">
          <label class="item item-input">
            <i class="icon ion-person placeholder-icon"></i>
            <input type="email" id="login" name="login" ng-model="vm.login.idLogin" placeholder="Insira o seu email."
              autocomplete="off" maxlength="150" required email-validator>
          </label>
          <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" id="password" name="password" ng-model="vm.login.desPassword" placeholder="Insira a sua senha."
              autocomplete="off" minlength="6" maxlength="10" required>
          </label>
          <button type="submit" class="button button-block button-balanced" ng-disabled="vm.formLogin.$invalid">
            Entrar
          </button>
        </form>
      </div>
      <div class="text-right padding kf-width-100-porcent">
        <a href="#" ng-click="vm.closeLogin(); vm.go('main.user', true, {isIncludeUser:true});" title="Registrar uma nova conta!">Registrar uma nova conta!</a>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
-->