<ion-view>
  <ion-nav-title>
    Cadastro
  </ion-nav-title>
  <ion-content>
    <form name="vm.formRegister" novalidate>
      <div layout="row" style="margin: 5vh 5vw 0 5vw;">
        <div flex>
          <div layout="row" flex>
            <label class="item-input item-stacked-label">
              <span class="input-label" for="email">E-mail *</span>
              <input id="email" name="email" type="email" data-ng-model="vm.email" autocomplete="off" required email-validator>
            </label>
          </div>
          <div layout="row" flex style="margin-top: 1vh;">
            <label class="item-input item-stacked-label">
              <span class="input-label" for="password">Senha *</span>
              <input id="password" name="password" type="password" data-ng-model="vm.password" autocomplete="off" maxlength="12" 
                required disallow-spaces>
            </label>
          </div>
          <div layout="row" flex style="margin-top: 1vh;">
            <label class="item-input item-stacked-label">
              <span class="input-label" for="name">Nome *</span>
              <input id="name" name="name" type="text" data-ng-model="vm.user.dsName" autocomplete="off" minlength="5" maxlength="150" required >
            </label>
          </div>
        </div>
        <div flex="30" class="align-self-center">
          <div layout="column" class="text-align-center" style="margin-left: 2vw;">
            <div flex ng-click="vm.getPicture(1);">
              <img ng-src="images/svg/user-empty.svg" class="avatar" style="height: 15vh;" ng-if="vm.user.mgUser === null">
              <img ng-src="data:image/*;base64,{{vm.user.mgUser}}" class="avatar" style="height: 15vh;" ng-if="vm.user.mgUser !== null">
            </div>
            <div flex class="font-myriad-set-pro-thin color-back-054" ng-click="vm.getPicture(1);">Adicionar<br/>foto</div>
          </div>
        </div>
      </div>
      <div layout="column" style="margin: 5vh 5vw 0 5vw;">
        <div flex layout="row">
          <div flex="60" style="padding-right: 5vw;">
            <label class="item-input item-stacked-label">
              <span class="input-label" for="birthDay">Data de Nascimento</span>
              <input id="birthDay" name="birthDay" type="date" data-ng-model="vm.dtBirthDay" autocomplete="off"
                min="{{vm.minDtBirthDay}}" max="{{vm.maxDtBirthDay}}">
            </label>
          </div>
          <div flex>
            <label class="item-input item-stacked-label">
              <span class="input-label" for="state">Estado</span>
              <select id="state" data-ng-model="vm.idState" ng-options="item.idState as item.desState for item in vm.states"
                ng-change="vm.listCityByState(vm.idState);">
                <option value=""></option>
              </select>
            </label>
          </div>
        </div>
        <div flex layout="row" style="margin-top: 1vh;">
          <div flex="60" style="padding-right: 5vw;">
            <label class="item-input item-stacked-label">
              <span class="input-label" for="gender">Gênero</span>
              <select id="gender" data-ng-model="vm.user.genderEnum" ng-options="item.value as item.label for item in vm.genders">
                <option value=""></option>
              </select>
            </label>
          </div>
          <div flex>
            <label class="item-input item-stacked-label">
              <span class="input-label" for="city">Cidade <span ng-if="vm.idState !== null">*</span></span>
              <select id="city" data-ng-model="vm.idCity" ng-options="item.idCity as item.desCity for item in vm.cities" ng-required="vm.idState !== null">
                <option value=""></option>
              </select>
            </label>
          </div>
        </div>
        <div flex layout="row" style="margin-top: 1vh;">
          <div flex="60" style="padding-right: 5vw;">
            <label class="item-input item-stacked-label">
              <span class="input-label" for="children">Filhos</span>
              <input id="children" name="children" type="number" data-ng-model="vm.user.nmChildren" autocomplete="off" maxlength="2">
            </label>
          </div>
          <div flex class="text-align-right" style="align-self: flex-end">
            <button class="button button-small" type="button" ng-disabled="vm.formRegister.$invalid" ng-click="vm.save();">
              SALVAR
            </button>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>