<?xml version='1.0' encoding='utf-8'?>
<widget id="com.holictechnology.kidfriendly" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kid Friendly</name>
    <description />
    <author email="holic@holictechnology.com" href="http://www.holictechnology.com/">
	   Holic Technology
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="17" />
    <preference name="android-targetSdkVersion" value="19" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="cordova-plugin-camera" spec="~2.2.0" />
    <plugin name="cordova-plugin-geolocation" spec="~2.2.0" />
</widget>
