<ion-view>
  <ion-nav-title>
    Estabelecimento
  </ion-nav-title>
  <ion-content>
    <div layout="column" class="padding">
      <div flex>1</div>
      <div flex>2</div>
    </div>
    <div layout="column" class="padding">
      <div flex class="header display-flex align-items-center border-orange" style="height: 8vh; width: 100%;">
        <span class="title" style="margin-left: 5vw;">Comentários</span>
      </div>
      <div flex class="list">
        <div class="item item-avatar" ng-repeat="item in vm.ratings track by item.idRating" ng-if="vm.ratings.length > 0">
          <img ng-src="data:image/*;base64,{{item.imgUser}}" ng-if="item.imgUser !== null">
          <img ng-src="images/png/user-empty.png" ng-if="item.imgUser === null">
          <h2>
            <span class="font-lato-bold color-orange">{{item.desNameUser.split(' ')[0]}}</span>
            <span class="font-lato-regular color-back"> comentou:</span>
          </h2>
          <p class="white-space-normal font-raleway-light text-align-justify color-back-054" style="font-size: 0.8rem !important;">{{item.desRating}}</p>
        </div>
        <div flex class="item text-align-center font-myriad-set-pro-thin color-back-054 padding" ng-if="vm.message.ratings !== '' || vm.loadingRating">
          <ion-spinner ng-if="vm.loadingRating"></ion-spinner>
          <span ng-bind-html="vm.message.ratings"></span>
        </div>
        <div flex class="item text-align-center font-myriad-set-pro-thin color-back-054 padding" ng-if="vm.isInfiniteScrollRating" ng-click="vm.findRatings();">
          <strong><a href style="color: #F44F0F !important;">mais comentários</a></strong>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<!--
<ion-view>
  <section ng-if="vm.isVisible">
    <ion-content class="padding has-header has-footer kf-background-page" scroll="false">
      <div id="companyData" class="row kf-no-padding-top kf-no-padding-rigth kf-no-padding-left padding-bottom">
        <div class="col-80 kf-no-padding">
          <h4 class="kf-no-margin">{{vm.company.desName}}</h4>
          <h6 class="kf-no-margin" ng-if="vm.address !== null && vm.address.length > 0">{{vm.address}}</h6>
          <h6 class="kf-no-margin" ng-if="vm.company.phones !== null && vm.company.phones.length > 0">
            Tel:
            <span ng-repeat="item in vm.company.phones track by item.idPhone">
              {{$index > 0 ? ', ' : ''}}{{item.numPhone | mask:'(00) 000000009'}}
            </span>
          </h6>
          <h6 class="kf-no-margin" ng-if="vm.company.desSite !== null && vm.company.desSite.length > 0">{{vm.company.desSite}}</h6>
          <div ng-if="vm.characteristics.length > 0">
            <div class="kf-wrap">
              <ion-scroll direction="x" class="kf-scroll kf-width-100-porcent">
                <div class="row padding-top">
                  <div class="col-80" ng-repeat="item in vm.characteristics track by item.idCharacteristic">
                    <h6 class="kf-no-margin">{{item.desCharacteristic}}</h6>
                  </div>
                </div>
                <div class="row padding-top">
                  <div class="col-80" ng-repeat="item in vm.halfCharacteristics track by item.idCharacteristic">
                    <h6 class="kf-no-margin">{{item.desCharacteristic}}</h6>
                  </div>
                </div>
              </ion-scroll>
            </div>
          </div>
        </div>
        <div class="col-20 kf-no-padding kf-display-flex text-center">
          <i class="icon kf-width-100-porcent">
            <img ng-if="vm.company.numRate !== null" ng-src="images/status-kidfriendly-{{vm.company.numRate}}.png" class="kf-company-icon-rate">
            <img ng-if="vm.company.numRate === null" ng-src="images/status-kidfriendly-3.png" class="kf-company-icon-rate">
          </i>
        </div>
      </div>
      <div id="menu" class="row margin-top padding-top" style="border-top: 1px solid; border-bottom: 1px solid;">
        <div class="col text-center kf-no-padding">
          <button class="button button-icon kf-company-button" ng-click="vm.launchNavigator();">
            <i class="icon ion-android-map kf-company-button-icon dark"></i>Como Chegar
          </button>
        </div>
        <div class="col text-center kf-no-padding">
          <button class="button button-icon kf-company-button kf-no-padding" ng-click="vm.showGallery();">
            <i class="icon ion-images kf-company-button-icon"></i>Galeria
          </button>
        </div>
        <!--
        <div class="col text-center kf-no-padding">
          <button class="button button-icon kf-company-button kf-no-padding">
            <i class="icon ion-android-star kf-company-button-icon"></i>Favoritos
          </button>
        </div>
        --
        <div class="col text-center kf-no-padding">
          <button class="button button-icon kf-company-button kf-no-padding" ng-click="vm.showRating();">
            <i class="icon ion-ios-compose kf-company-button-icon"></i>Avaliar
          </button>
        </div>
      </div>
      <section ng-if="vm.ratings.length > 0">
        <div id="lbRating" class="padding-top padding-left kf-title-black">Avaliações</div>
        <ion-scroll id="scrollRating" kf-scroll-heigth>
          <div class="list card">
            <div class="item item-avatar item-text-wrap" ng-repeat="item in vm.ratings track by item.idRating">
              <img ng-if="item.imgUser === null" ng-src="images/empty-avatar.jpg">
              <img ng-if="item.imgUser !== null" ng-src="data:image/*;base64,{{item.imgUser}}">
              <h3 class="kf-no-margin">
                <div class="kf-float-left kf-width-80-porcent">
                  <div>{{vm.getFirstLastName(item.desNameUser)}}</div>
                  <h4 style="opacity: 0.5">{{item.dtRating | maskDate:'DD/MM/YYYY HH:mm:ss'}}</h4>
                </div>
                <div class="kf-float-right kf-width-20-porcent text-right">
                  <img ng-src="images/status-kidfriendly-{{item.idStatusKidFriendly}}.png" class="kf-list-icon-rate">
                </div>
              </h3>
              <h4 class="kf-clear kf-text-align-justify padding-top">
                {{item.desRating}}
              </h4>
              <section ng-if="item.desAnswer !== null && item.desAnswer.length > 0">
                <hr/>
                <h4>{{item.desNameCompany}}</h4>
                <h5 class="kf-text-align-justify" style="padding-left: 5%;">
                  {{item.desAnswer}}
                </h5>
              </section>
            </div>
          </div>
          <ion-infinite-scroll ng-if="vm.isInfiniteScroll" on-infinite="vm.infiniteScroll();" spinner="none" icon="none">
          </ion-infinite-scroll>
        </ion-scroll>
      </section>
    </ion-content>
  </section>
</ion-view>
-->
