<ion-view>
  <ion-nav-title>
    Estabelecimento
  </ion-nav-title>
  <md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right" style="right: 0 !important; bottom: 50px !important;">
    <md-fab-trigger>
      <md-icon md-svg-src="images/svg/more.svg" style="height:3em;width:3em;"></md-icon>
    </md-fab-trigger>
    <md-fab-actions>
      <md-icon md-svg-src="images/svg/launch-navigator.svg" style="height:3em;width:3em;" ng-click="vm.launchNavigator();"></md-icon>
      <md-icon md-svg-src="images/svg/details.svg" style="height:3em;width:3em;" ng-click="vm.openDetails();"></md-icon>
    </md-fab-actions>
  </md-fab-speed-dial>
  <ion-content>
    <div layout="row" style="position:relative; z-index: 10; top: 5vh; padding: 0 2.5vw;">
      <div flex="30" style="width: 100%; height: 15vh; border:5px solid #F44F0F;">
        <img ng-src="data:image/*;base64,{{vm.companyDto.imgLogo}}" style="width: 100%; height: 100%;" ng-if="vm.companyDto.imgLogo !== null">
      </div>
      <div flex class="font-raleway-bold color-orange display-flex align-items-center" style="padding-left: 2.5vw;">
        <span class="font-raleway-bold" style="white-space: nowrap; overflow: hidden;">
          {{vm.companyDto.desName}}
        </span>
      </div>
    </div>
    <div layout="row" class="swiper-container swiper-container-gallery">
      <div flex class="align-self-center text-align-center font-myriad-set-pro-thin color-back-054" ng-if="vm.images.length === 0">
        <ion-spinner ng-if="vm.message.images === ''"></ion-spinner>
        <span ng-bind-html="vm.message.images"></span>
      </div>
      <div class="swiper-wrapper" ng-if="vm.images.length > 0">
        <div class="swiper-slide swiper-slide-gallery" ng-repeat="item in vm.images track by item.idImage">
          <img ng-src="data:image/*;base64,{{item.imgImage}}">
        </div>
      </div>
      <div class="swiper-button-prev swiper-button-prev-gallery" ng-class="{'button-disabled': vm.images.length === 0}"></div>
      <div class="swiper-button-next swiper-button-next-gallery" ng-class="{'button-disabled': vm.images.length === 0}"></div>
    </div>

    <!--
    <div layout="row" class="padding">
      <div flex class="font-raleway-bold color-orange" style="padding-right: 1vw;">PALAVRAS CHAVE</div>
      <div flex class="font-raleway-bold color-orange" style="padding-left: 1vw;">NOTA GERAL</div>
    </div>
    <div layout="row" class="padding">
      <div flex style="padding-top: 2.5vh;">
        <div flex class="text-align-center font-myriad-set-pro-thin color-back padding" ng-if="vm.foodTypes.length === 0">
          <ion-spinner ng-if="vm.message.foodTypes === ''"></ion-spinner>
          <span ng-if="vm.message.foodTypes !== null && vm.message.foodTypes !== ''" ng-bind-html="vm.message.foodTypes"></span>
        </div>
        <div flex class="font-raleway-light text-align-justify color-back-054" style="border-left: 5px solid #717070; font-size: 0.8rem !important;"
          ng-repeat="item in vm.foodTypes track by item.idFoodType" ng-if="vm.foodTypes.length !== 0">
          {{item.dsFoodType}};
        </div>
      </div>
      <div flex layout="column" style="padding-left: 1vw; height: 5rem;" class="general-note">
        <section class="font-raleway-extrabold" style="font-size: 0.7rem !important; position: absolute; margin-top: 4vh; margin-left: 20.4vw;">MUITO</section>
        <section class="font-raleway-regular" style="font-size: 0.7rem !important; position: absolute; margin-top: 6.5vh; margin-left: 20.3vw;">KID FRIENDLY!</section>
      </div>
    </div>
    -->

    <div layout="column" style="margin: 2vh 0 2vh 0;">
      <div flex class="header display-flex align-items-center" style="width: 100%;">
        <i class="ion-comments"></i>
        <span class="title">Comentários</span>
      </div>
      <div flex class="list">
        <div class="item item-avatar" ng-repeat="item in vm.ratings track by item.idRating" ng-if="vm.ratings.length > 0">
          <img ng-src="data:image/*;base64,{{item.imgUser}}" ng-if="item.imgUser !== null">
          <img ng-src="images/png/user-empty.png" ng-if="item.imgUser === null">
          <h2>
            <span class="font-lato-bold color-orange">{{item.desNameUser.split(' ')[0]}} </span>
            <span class="font-lato-regular color-back">comentou:</span>
          </h2>
          <p class="white-space-normal font-raleway-light text-align-justify color-back-054"
            style="font-size: 0.8rem !important;">
            {{item.desRating}}
          </p>
        </div>
        <div flex class="item text-align-center font-myriad-set-pro-thin color-back-054 padding"
          ng-if="vm.message.ratings !== '' || vm.loadingRating">
          <ion-spinner ng-if="vm.loadingRating"></ion-spinner>
          <span ng-bind-html="vm.message.ratings"></span>
        </div>
        <div flex class="item text-align-center font-myriad-set-pro-thin color-back-054 padding"
          ng-if="vm.isInfiniteScrollRating" ng-click="vm.moreRatings();">
          <strong><a href style="color: #F44F0F !important;">mais comentários</a></strong>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>