<ion-view>
  <section ng-if="vm.isVisible">
    <ion-content class="padding has-header has-footer" scroll="false">
      <div id="companyData" class="row kf-no-padding-top kf-no-padding-rigth kf-no-padding-left padding-bottom">
        <div class="col-80 kf-no-padding">
          <h4 class="kf-no-margin">{{vm.company.desName}}</h4>
          <h6 class="kf-no-margin" ng-if="vm.address !== null && vm.address.length > 0">{{vm.address}}</h6>
          <h6 class="kf-no-margin" ng-if="vm.company.phones !== null && vm.company.phones.length > 0">
            Tel:
            <span ng-repeat="item in vm.company.phones track by item.idPhone">
              {{$index > 0 ? ', ' : ''}}{{item.numPhone | mask:'(00) 90000-0000'}}
            </span>
          </h6>
          <h6 class="kf-no-margin" ng-if="vm.company.desSite !== null && vm.company.desSite.length > 0">{{vm.company.desSite}}</h6>
          <div ng-if="vm.characteristics.length > 0">
            <div class="kf-wrap">
              <ion-scroll direction="x" class="kf-scroll kf-width-100-porcent">
                <div class="row padding-top">
                  <div class="col-90" ng-repeat="item in vm.characteristics track by $index">
                    <h6 class="kf-no-margin">{{item}}</h6>
                  </div>
                </div>
                <div class="row padding-top">
                  <div class="col-90" ng-repeat="item in vm.halfCharacteristics track by $index">
                    <h6 class="kf-no-margin">{{item}}</h6>
                  </div>
                </div>
              </ion-scroll>
            </div>
          </div>
        </div>
        <div class="col-20 kf-no-padding kf-display-flex text-center">
          <i class="icon" ng-if="vm.company.numRate !== null">
            <img ng-src="images/status-kidfriendly-{{vm.company.numRate}}.png" class="kf-company-icon-rate">
          </i>
        </div>
      </div>
      <div id="menu" class="row margin-top padding-top" style="border-top: 1px solid; border-bottom: 1px solid;">
        <div class="col text-center kf-no-padding">
          <button class="button button-icon kf-company-button">
            <i class="icon ion-android-map kf-company-button-icon dark"></i>Como Chegar
          </button>
        </div>
        <div class="col text-center kf-no-padding">
          <button class="button button-icon kf-company-button kf-no-padding">
            <i class="icon ion-android-camera kf-company-button-icon "></i>Galeria
          </button>
        </div>
        <!--
        <div class="col text-center kf-no-padding">
          <button class="button button-icon kf-company-button kf-no-padding">
            <i class="icon ion-android-star kf-company-button-icon"></i>Favoritos
          </button>
        </div>
        -->
        <div class="col text-center kf-no-padding">
          <button class="button button-icon kf-company-button kf-no-padding">
            <i class="icon ion-ios-compose kf-company-button-icon"></i>Avaliar
          </button>
        </div>
      </div>
      <section ng-if="vm.ratings.length > 0">
        <div id="lbRating" class="padding-top kf-title-black">Avaliações</div>
        <ion-scroll id="scrollRating" kf-scroll-heigth>
          <div class="list card kf-no-margin-left kf-no-margin-right">
            <div class="item item-avatar item-text-wrap" ng-repeat="item in vm.ratings track by $index">
              <img ng-if="item.imgUser === null" ng-src="images/default-logo.png">
              <img ng-if="item.imgUser !== null" ng-src="data:image/*;base64,{{item.imgUser}}">
            </div>
          </div>
          <ion-infinite-scroll ng-if="vm.isInfiniteScroll" on-infinite="vm.infiniteScroll();">
          </ion-infinite-scroll>
        </ion-scroll>
      </section>
    </ion-content>
  </section>
</ion-view>
