<ion-modal-view class="transparent">
  <ion-pane class="transparent">
    <div class="body-modal border-radius-top border-radius-bottom">
      <div class="header border-radius-top display-flex align-items-center" style="width: 100%; padding: 0 12px 0 10px;">
        <span class="title margin">Detalhes</span>
        <div flex class="text-align-right" style="font-size: 2.5rem;">
          <i class="ion-ios-close-empty" ng-click="vm.closeModal();"></i>
        </div>
      </div>
      <ion-scroll style="max-height: 70vh" class="padding">
        <div layout="column">
          <div flex layout="row" class="padding" ng-if="vm.companyDto.addressDto.formattedAddress !== null">
            <div flex=10 class="align-self-center text-align-center" style="font-size: 1.5rem;"><i class="ion-ios-home-outline"></i></div>
            <div flex class="align-self-center" style="line-height: 1.1;">
              <span class="font-lato-regular color-back-054" style="font-size: 0.75rem !important;">
                {{vm.companyDto.addressDto.formattedAddress}}
              </span>
            </div>
          </div>
          <div flex layout="row" class="padding" ng-if="vm.phones.length !== 0">
            <div flex=10 class="align-self-center text-align-center" style="font-size: 1.5rem;"><i class="ion-ios-telephone-outline"></i></div>
            <div flex class="align-self-center">
              <div style="line-height: 1.1;">
                <span class="font-lato-regular color-back-054" style="font-size: 0.75rem !important;" ng-repeat="item in vm.phones track by item.idPhone">
                  <a ng-href="tel: {{item.numPhone | mask:'(00) 9000-0000'}}" style="color: rgba(0,0,0,0.54) !important;">{{item.numPhone | mask:'(00) 9000-0000'}};</a>
                </span>
              </div>
            </div>
          </div>
          <div flex layout="row" class="padding" ng-if="vm.companyDto.desSite !== null">
            <div flex=10 class="align-self-center text-align-center" style="font-size: 1.5rem;"><i class="ion-ios-world-outline"></i></div>
            <div flex class="align-self-center">
              <span class="font-lato-regular color-back-054" style="font-size: 0.75rem !important;">
                <a href ng-click="vm.openSite(vm.companyDto.desSite);" style="color: rgba(0,0,0,0.54) !important;">{{vm.companyDto.desSite}}</a>
              </span>
            </div>
          </div>
          <div flex layout="row" class="padding" ng-if="vm.weeks.length !== 0">
            <div flex=10 class="align-self-center text-align-center" style="font-size: 1.5rem;"><i class="ion-ios-clock-outline"></i></div>
            <div flex layout="row" class="align-self-center">
              <div flex class="text-align-center border-schedule-top-bottom-left" ng-class="{'border-schedule-top-right-bottom-left': $last}" ng-repeat="item in vm.weeks track by $index">
                <span class="font-lato-bold color-orange" style="font-size: 0.8rem !important;">{{item.dsWeek.charAt(0)}}</span><br/>
                <div flex class="font-lato-regular color-back-054" style="border-top: 1px solid rgba(0,0,0,0.54); font-size: 0.75rem !important; line-height: 1.1;" ng-repeat="_item in item.schedules track by $index">
                  {{_item.scheduleInitial}}<br/>{{_item.scheduleFinish}}
                </div>
              </div>
            </div>
          </div>
          <div flex layout="row" class="padding" ng-if="vm.foodTypes.length !== 0">
            <div flex=10 class="align-self-center text-align-center" style="font-size: 1.5rem;"><i class="ion-ios-list-outline"></i></div>
            <div flex class="align-self-center">
              <div style="line-height: 1.1;">
                <span class="font-lato-regular color-back-054 text-align-justify" style="font-size: 0.75rem !important;" ng-repeat="item in vm.foodTypes track by item.idFoodType">
                  {{item.dsFoodType}};
                </span>
              </div>
            </div>
          </div>
        </div>
      </ion-scroll>
    </div>
  </ion-content>
</ion-modal-view>
