<ion-modal-view>
  <ion-header-bar align-title="center">
    <h1 class="title">Galeria</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-close-empty" ng-click="vm.closeGallery();"></button>
    </div>
  </ion-header-bar>
  <ion-content class="padding" scroll="false">
    <div class="kf-gallery-top">
      <div class="swiper-wrapper">
        <div class="swiper-slide" ng-repeat="item in vm.images track by item.idImage">
          <img ng-if="item.imgImage !== null" ng-src="data:image/*;base64,{{item.imgImage}}" class="kf-gallery-img">
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="kf-gallery-thumbs">
      <div class="swiper-wrapper">
        <div class="swiper-slide" ng-repeat="item in vm.images track by item.idImage">
          <img ng-if="item.imgImage !== null" ng-src="data:image/*;base64,{{item.imgImage}}" class="kf-gallery-img">
        </div>
      </div>
    </div>
  </ion-footer-bar>
</ion-modal-view>
