<ion-modal-view class="transparent">
  <ion-pane class="transparent">
    <div class="body-modal border-radius-top border-radius-bottom">
      <form name="vm.formRating" novalidate>
        <div class="border-radius-top display-flex align-items-center" style="width: 100%; padding: 0 12px 0 10px;">
          <div flex class="text-align-right" style="font-size: 2.5rem;">
            <i class="ion-rating" style="position: absolute; right: -15px; top: -25px;" ng-click="vm.closeModal();"></i>
          </div>
        </div>
        <div layout="column" class="padding" style="margin-top: 20px;">
          <div flex layout="row" class="padding">
            <div flex class="font-ebrima-regular text-align-center">
              <span class="font-ebrima-regular color-orange" style="font-size: 0.85rem !important;">O QUÃO</span>
              <span class="font-ebrima-bold color-orange" style="font-size: 0.85rem !important;">KID FRIENDLY</span>
              <span class="font-ebrima-regular color-orange" style="font-size: 0.85rem !important;">FOI SUA EXPERIÊNCIA?</span>
            </div>
          </div>
          <div flex layout="row" class="padding">
            <div flex class="text-align-center">
              <i class="ion-status-kid-friendly-1 notSelectedStatusKidFriendly" ng-click="vm.selectedStatusRating($event, 1);"></i>
            </div>
            <div flex class="text-align-center">
              <i class="ion-status-kid-friendly-2 notSelectedStatusKidFriendly" ng-click="vm.selectedStatusRating($event, 2);"></i>
            </div>
            <div flex class="text-align-center">
              <i class="ion-status-kid-friendly-3 notSelectedStatusKidFriendly" ng-click="vm.selectedStatusRating($event, 3);"></i>
            </div>
            <div flex class="text-align-center">
              <i class="ion-status-kid-friendly-4 notSelectedStatusKidFriendly" ng-click="vm.selectedStatusRating($event, 4);"></i>
            </div>
          </div>
          <div flex class="padding">
            <label class="item-input item-stacked-label">
              <span class="input-label" for="comment">Comentário *</span>
              <textarea id="comment" name="comment" data-ng-model="vm.rating.desRating" autocomplete="off" minlength="10" maxlength="250" required></textarea>
            </label>
          </div>
          <div layout="row" class="padding">
            <div flex class="text-align-right">
              <button class="button button-small" type="button" ng-disabled="vm.formRating.$invalid || vm.rating.statusKidFriendly === null" ng-click="vm.includeRating();">
                AVALIAR
              </button>
            </div>
          </div>
        </div>
    </div>
  </ion-content>
</ion-modal-view>
