<ion-view>
  <ion-nav-title>
    Fale conosco
  </ion-nav-title>
  <ion-content>
    <div layout="row">
      <div flex class="text-align-center">
        <img ng-src="images/svg/kid-contact-us.svg" style="height: 30vh !important;">
      </div>
    </div>
    <div layout="row">
      <div flex class="text-align-center font-myriad-set-pro-thin color-back-054">
        Algum problema, dica ou dúvida?<br/>Deixe-nos uma mensagem!
      </div>
    </div>
    <form name="vm.formContact" novalidate style="margin: 2.5vh 5vw 0 5vw;">
      <div layout="row" style="margin-bottom: 1vh; padding-top: 1vh" class="border-top-orange">
        <div flex>
          <label class="item-input item-stacked-label">
            <span class="input-label" for="email">Mensagem *</span>
            <textarea id="message" name="message" data-ng-model="vm.message" autocomplete="off" minlength="10" maxlength="1000" required></textarea>
          </label>
        </div>
      </div>
      <div layout="row" class="border-bottom-orange" style="padding-bottom: 1vh">
        <div flex class="text-align-right" >
          <button class="button button-small" type="button" ng-disabled="vm.formContact.$invalid" ng-click="vm.authenticate();">
            ENVIAR
          </button>
        </div>
      </div>
    </form>
    <div layout="row" style="margin-top: 1vh;">
      <div flex class="text-align-center font-myriad-set-pro-thin color-back-054">
        Quer saber mais sobre o Kid Friendly? Saiba<br/>mais em nosso <strong><a href ng-click="vm.go('main.contact-termsofuser');">Termos de Uso</a></strong> do aplicativo.
      </div>
    </div>
  </ion-content>
</ion-view>