<ion-view hide-back-button="true">
  <ion-nav-title>
    Pesquisa
  </ion-nav-title>
  <form name="vm.formSearch" novalidate>
    <ion-content style="bottom: 108px !important;">
      <div layout="column" style="margin: 5vh 5vw 0vh 5vw;">
        <div flex>
          <label class="item-input item-stacked-label">
            <span class="input-label" for="establishment">Estabelecimento</span>
            <input id="establishment" name="establishment" type="text" data-ng-model="vm.establishment" autocomplete="off" minlength="3" maxlength="150" required>
          </label>
        </div>
        <div flex layout="row" style="margin-top: 1vh;">
          <div flex style="padding-right: 2.5vw;">
            <label class="item-input item-stacked-label">
              <span class="input-label" for="state">Estado</span>
              <select id="state" data-ng-model="vm.idState" ng-options="item.idState as item.desState for item in vm.states"
                ng-change="vm.listCityByState(vm.idState);">
                <option value=""></option>
              </select>
            </label>
          </div>
          <div flex style="padding-left: 2.5vw;">
            <label class="item-input item-stacked-label">
              <span class="input-label" for="city">Cidade</span>
              <select id="city" data-ng-model="vm.idCity" ng-options="item.idCity as item.desCity for item in vm.cities">
                <option value=""></option>
              </select>
            </label>
          </div>
        </div>
        <div flex layout="row" style="margin-top: 1vh;">
          <div flex style="padding-right: 2.5vw;">
            <label class="item-input item-stacked-label">
              <span class="input-label" for="category">Categoria</span>
              <select id="category" data-ng-model="vm.idCategory" ng-options="item.idCategory as item.desCategory for item in vm.categories"
                ng-change="vm.listCharacteristicByCategory(vm.idCategory);">
                <option value=""></option>
              </select>
            </label>
          </div>
          <div flex style="padding-left: 2.5vw;">
            <label class="item-input item-stacked-label">
              <span class="input-label">Estrutura</span>
            </label>
            <multiselect
              header-text="Estrutura"
              items="vm.characteristics"
              text-property="desCharacteristic"
              value-property="idCharacteristic"
              is-translate="false"
              value-changed="vm.onValueChanged(value)">
            </multiselect>
          </div>
        </div>
      </div>
    </ion-content>
    <div class="bar bar-subfooter" style="height: 64px !important">
      <div layout="row" class="border-top-orange" style="margin: 0vh 5vw 0vh 5vw; padding: 1vh 0vw 1vh 0vw">
        <div flex=66 layout="column" class="align-self-center">
          <div flex>
            <input id="nexttome" type="checkbox" ng-model="vm.isNextToMe">
            <label for="nexttome"><span><span></span></span><section class="color-orange font-raleway-light float-right" style="white-space: nowrap;font-size: 0.85rem !important;">Próximos a mim</section></label>
          </div>
          <div flex>
            <input id="superkidfriendly" type="checkbox" ng-model="vm.isSuperKidFriendly">
            <label for="superkidfriendly"><span><span></span></span><section class="color-orange font-raleway-light float-right" style="font-size: 0.85rem !important;">Super Kid Friendly</section></label>
          </div>
        </div>
        <div flex class="align-self-center text-align-right">
          <button class="button button-small" type="button" ng-disabled="(vm.establishment === null || vm.formSearch.$invalid) && vm.idState === null && vm.idCity === null && vm.idCategory === null && vm.characteristcsSelected.length === 0 && !vm.isSuperKidFriendly && !vm.isNextToMe" ng-click="vm.search();">
            PESQUISAR
          </button>
        </div>
      </div>
    </div>
  </form>
</ion-view>
