<ion-header-bar align-title="center" class="kf-header-logo">
  <div class="buttons" ng-if="vm.isShowBackButtonIOS();">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="vm.goBack();"></button>
  </div>
  <h1 class="title">
    <img src="../images/logo_marca.png" height="20" width="160">
  </h1>
  <div class="buttons" ng-if="vm.isShowButtonLogInAvatar();">
    <button class="button" ng-class="{'button-icon icon ion-log-in': !vm.isUserLogged() , 'button-clear': vm.isUserLogged()}"
      ng-click="((vm.isUserLogged()) ? vm.logout() : vm.openLogin())">
      <img ng-if="vm.isUserLogged() && vm.getUserLogged().mgUser !== null"
        ng-src="data:image/*;base64,{{vm.getUserLogged().mgUser}}" class="kf-avatar-header">
      <img ng-if="vm.isUserLogged() && vm.getUserLogged().mgUser === null"
        ng-src="images/empty-avatar.jpg" class="kf-avatar-header">
    </button>
  </div>
</ion-header-bar>
<ion-nav-view name="main-view" class="kf-background-page"></ion-nav-view>
<ion-footer-bar class="kf-footer-menu">
  <h1 class="title"></h1>
  <div class="buttons">
    <button id="menuPopover" class="button button-icon icon ion-navicon" ng-click="vm.showMenu($event);"></button>
  </div>
</ion-footer-bar>
