<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item" ng-click="vm.popoverHide(); vm.go('main.search', true);">
        <i class="icon ion-search"></i>
        Pesquisa
      </a>
      <a class="item" ng-click="vm.popoverHide(); vm.go('main.about', false);">
        <i class="icon ion-document"></i>
        Sobre KidFriendly
      </a>
      <a class="item" ng-click="vm.popoverHide(); vm.go('main.termsofuse', false);">
        <i class="icon ion-document"></i>
        Termos de Uso
      </a>

      <a class="item" ng-click="vm.popoverHide(); vm.go('main.user', true);">
        <i class="icon ion-document"></i>
        Usuário
      </a>
    </div>
  </ion-content>
</ion-popover-view>
