<ion-popover-view class="kf-menu">
  <ion-content>
    <div class="list">
      <a class="item" ng-click="vm.go('main.search', true);">
        Pesquisa
      </a>
      <!--
      <a class="item" ng-click="vm.go('main.search', true, {idCategory: 2});">
        Hotel
      </a>
      <a class="item" ng-click="vm.go('main.search', true, {idCategory: 1});">
        Restaurante
      </a>
      <a class="item" ng-click="vm.go('main.search', true, {idCategory: 3});">
        Passeio
      </a>
      -->
      <a class="item" ng-click="vm.go('main.about', false);">
        Sobre KidFriendly
      </a>
      <a class="item" ng-click="vm.go('main.termsofuse', false);">
        Termos de Uso
      </a>
    </div>
  </ion-content>
</ion-popover-view>
