<ion-view hide-back-button="true">
  <ion-nav-title>
    <img src="images/png/kidfriendly.png" style="width: 100%; height: 80%; margin-top: 4px;">
  </ion-nav-title>
  <ion-content>
    <div layout="row">
      <div flex-offset="10" class="align-self-center">
        <span style="font-size: 2.5rem !important;" class="font-raleway-light color-orange">Bem vindo!</span>
      </div>
      <div>
        <i class="ion-kid"></i>
      </div>
    </div>
    <div layout="row">
      <div flex flex-offset="10">
        <h5 class="font-raleway-light color-orange" style="margin: 0 !important;">Sugestões</h5>
      </div>
    </div>
    <div layout="row" class="swiper-container swiper-container-suggestions">
      <div flex class="align-self-center text-align-center font-myriad-set-pro-thin color-back-054" ng-show="vm.suggestions.length === 0">
        <ion-spinner ng-if="vm.message.suggestions === ''"></ion-spinner>
        <span ng-bind-html="vm.message.suggestions"></span>
      </div>
      <div class="swiper-wrapper" ng-show="vm.suggestions.length > 0">
        <div class="swiper-slide swiper-slide-custom align-self-center" ng-repeat="item in vm.suggestions track by item.idCompany">
          <img ng-src="data:image/*;base64,{{item.mgHome}}" ng-click="vm.details(item);">
        </div>
      </div>
      <div class="swiper-button-prev swiper-button-prev-custom-suggestions" ng-show="vm.prevNextSuggestions"></div>
      <div class="swiper-button-next swiper-button-next-custom-suggestions" ng-show="vm.prevNextSuggestions"></div>
    </div>
    <div layout="row">
      <div flex flex-offset="10">
        <h5 class="font-raleway-light color-orange" style="margin-bottom: 0 !important;">Próximo a <span class="font-raleway-bold">você</span></h5>
      </div>
    </div>
    <div layout="row" class="swiper-container swiper-container-nexttome">
      <div flex class="align-self-center text-align-center font-myriad-set-pro-thin color-back-054" ng-show="vm.nextToMe.length === 0">
        <ion-spinner ng-if="vm.message.nextToMe === ''"></ion-spinner>
        <span ng-bind-html="vm.message.nextToMe"></span>
      </div>
      <div class="swiper-wrapper" ng-show="vm.nextToMe.length > 0">
        <div class="swiper-slide swiper-slide-custom align-self-center" ng-repeat="item in vm.nextToMe track by item.idCompany">
          <img ng-src="data:image/*;base64,{{item.mgHome}}" ng-click="vm.details(item);">
        </div>
      </div>
      <div class="swiper-button-prev swiper-button-prev-custom-nexttome" ng-show="vm.prevNextNextToMe"></div>
      <div class="swiper-button-next swiper-button-next-custom-nexttome" ng-show="vm.prevNextNextToMe"></div>
    </div>
  </ion-content>
</ion-view>
