<ion-view>
  <ion-content class="padding has-header has-footer">
    <ion-refresher on-refresh="vm.refresh();" spinner="none">
    </ion-refresher>
    <section ng-if="vm.suggestions.length > 0">
      <div class="padding-left kf-title-black">Sugestões</div>
      <div class="list card">
        <a class="item item-thumbnail-left item-icon-right item-text-wrap"
          href="#" ng-repeat="item in vm.suggestions track by item.idCompany">
          <img ng-if="item.imgLogo !== null" ng-src="data:image/*;base64,{{item.imgLogo}}">
          <img ng-if="item.imgLogo === null" ng-src="images/default-logo.png">
          <h2>{{item.desName}}</h2>
          <h4 ng-if="item.desState !== null && item.desCity !== null">
            {{item.desCity}}/{{item.desState}}
          </h4>
          <i class="icon" ng-if="item.numRate !== null">
            <img ng-src="images/status-kidfriendly-{{item.numRate}}.png" class="kf-home-icon-rate">
          </i>
        </a>
      </div>
    </section>

    <section ng-if="vm.nextToMe.length > 0">
      <div class="padding-left padding-top kf-title-black">Próximos a mim</div>
      <div class="list card">
        <a class="item item-thumbnail-left item-icon-right item-text-wrap" href="#" ng-repeat="item in vm.nextToMe track by item.idCompany">
          <img ng-if="item.imgLogo !== null" ng-src="data:image/*;base64,{{item.imgLogo}}">
          <img ng-if="item.imgLogo === null" ng-src="images/default-logo.png">
          <h2>{{item.desName}}</h2>
          <h4 ng-if="item.desState !== null && item.desCity !== null">
            {{item.desCity}}/{{item.desState}}
          </h4>
          <i class="icon" ng-if="item.numRate !== null">
            <img ng-src="images/status-kidfriendly-{{item.numRate}}.png" class="kf-home-icon-rate">
          </i>
        </a>
      </div>
    </section>
  </ion-content>
</ion-view>

