/* OVERRIDE IONIC */
.header {
  background-color: #F44F0F !important;
  color: #FFF;
}
.header .title {
  /*font-family: 'Raleway Light' !important;*/
  font-family: 'Myriad Set Pro Thin' !important;
  font-size: 1.6rem !important;
  color: #FFF;
}
.popup {
  width: 80vw !important;
}
.popup-head {
  background-color: #FFF !important;
  border-bottom: none !important;
}
.popup-title {
  font-family: 'Raleway Bold' !important;
  font-size: 1em;
  text-align: left !important;
  color: #F44F0F !important;
}
.popup-body {
  font-family: 'Raleway Light' !important;
  font-size: 0.9em;
  background-color: #FFF !important;
  color: #F44F0F !important;
  text-align: center;
  border-style: solid !important;
  border-width: 2px !important;
  border-image: linear-gradient(to left, #fff 1%, #F44F0F 50%, #fff 100%) 100% 0 100% 0/2px 0 2px 0 stretch !important;
  -webkit-border-image: -webkit-linear-gradient(left, #FFF 1%, #F44F0F 50%, #FFF 100%) 100% 0 100% 0/2px 0 2px 0 stretch !important;
  -moz-border-image: -moz-linear-gradient(left, #FFF 1%, #F44F0F 50%, #FFF 100%) 100% 0 100% 0/2px 0 2px 0 stretch !important;
  -o-border-image: -o-linear-gradient(left, #FFF 1%, #F44F0F 50%, #FFF 100%) 100% 0 100% 0/2px 0 2px 0 stretch !important;
}
.popup-buttons {
  background-color: #FFF !important;
}
.button {
  font-family: 'Raleway Bold' !important;
  background-color: #F44F0F !important;
  color: #FFF !important;
}
.button.activated {
  opacity: 0.8 !important;
}
.button-small {
  min-width: 25vw !important;
}
.item-input {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
.input-label {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Raleway Light' !important;
  color: #F44F0F !important;
  width: 100% !important;
  font-size: 0.85rem;
}
textarea,
select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="search"]  {
  margin: 0 !important;
  padding: 0 5px 0 5px !important;
  border-image: 0;
  border-color: transparent !important;
  font-family: 'Raleway Light' !important;
  color: rgba(0,0,0,0.74) !important;
  border-bottom: 1px solid #F44F0F !important;
  height: 1.5rem !important;
  width: 100% !important;
  font-size: 0.85rem;
}
select {
  background-color: #FFF !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}
input[disabled],
input[readonly]:not(.cloned-text-input),
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly]:not(.cloned-text-input) {
  background-color: #FFF !important;
}
textarea {
  height: 15vh !important;
  border: 1.5px solid #F44F0F !important;
  background-color: #EDEDED !important;
  padding: 5px !important;
}
a:link, a:visited {
  text-decoration: none !important;
  color: #4BB2E4 !important;
}
a:hover {
	text-decoration: none !important;
  color: #4BB2E4 !important;
}
a:active {
	text-decoration: none !important;
  color: #4BB2E4 !important;
}
input[type=checkbox]:not(old),
input[type=radio]:not(old) {
  width: 1.5rem;
  margin: 0;
  padding: 0;
  opacity: 0;
}
input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label {
  display: inline-block;
  margin-left: -2rem;
  font-family: 'Raleway Light';
}
input[type=checkbox]:not(old) + label > span,
input[type=radio]:not(old) + label > span {
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin: 0.25rem 0.5rem 0.25rem 0.25rem;
  border: 0.0625rem solid rgb(192,192,192);
  background: rgb(224,224,224);
  background-image: -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image: -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image: -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image: -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image: linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align: bottom;
  margin-top: -2px;
}
input[type=checkbox]:not(old):checked + label > span,
input[type=radio]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image: -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image: -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image: -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image: linear-gradient(rgb(224,224,224),rgb(240,240,240));
}
input[type=checkbox]:not(old):checked + label > span > span,
input[type=radio]:not(old):checked + label > span > span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.125rem;
  border: 0.0625rem solid #F44F0F;
  background: #F44F0F;
  background-image: -moz-linear-gradient(#F44F0F,#F44F0F);
  background-image: -ms-linear-gradient(#F44F0F,#F44F0F);
  background-image: -o-linear-gradient(#F44F0F,#F44F0F);
  background-image: -webkit-linear-gradient(#F44F0F,#F44F0F);
  background-image: linear-gradient(#F44F0F,#F44F0F);
}
input[type=checkbox]:not(old):checked + label ~ section {
  margin-top: 2px !important;
}
.checkbox-orange input:before,
.checkbox-orange .checkbox-icon:before {
  border-color: #F44F0F;
  font-family: 'Raleway Light';
}

.checkbox-orange input:checked:before,
.checkbox-orange input:checked + .checkbox-icon:before {
  background: #F44F0F;
  border-color: #F44F0F;
  font-family: 'Raleway Light';
}
.padding {
  padding: 1vw !important;
}
/* END */

/* NOVA IMPLEMENTAÇÃO DO KID FRIENDLY */
* {
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
}
.tab > .tabs, .tabs.tab {
  border-color: #F44F0F !important;
  background-color: #FFF !important;
  background-image:  linear-gradient(0deg, #F44F0F, #F44F0F 50%, transparent 50%) !important;
}
.swiper-container-gallery {
  width: 100vw !important;
  height: 30vh !important;
}
.swiper-slide-gallery {
  background-color: #FFF !important;
  text-align: center !important;
}
.swiper-slide-gallery img {
  width: 90vw !important;
  height: 100% !important;
}
.swiper-button-prev-gallery {
  background-image: url('../images/svg/prev.svg') !important;
  background-size: 2.5rem !important;
  left: -0.2vh !important;
}
.swiper-button-next-gallery {
  background-image: url('../images/svg/next.svg') !important;
  background-size: 2.5rem !important;
  right: -0.2vh !important;
}
.color-orange {
  color: #F44F0F !important;
}
.color-black {
  color: #000 !important;
}
.color-back-054 {
  color: rgba(0,0,0,0.54) !important;
}
.color-white {
  color: #FFF !important;
}
.align-self-center {
  align-self: center !important;
  -webkit-align-self: center !important;
}
.swiper-container-nexttome {
  border-style: solid !important;
  border-width: 2px !important;
  border-image: linear-gradient(to left, #D4D4D4 1%, #F44F0F 50%, #D4D4D4 100%) 100% 0 100% 0/2px 0 2px 0 stretch !important;
  -webkit-border-image: -webkit-linear-gradient(left, #D4D4D4 1%, #F44F0F 50%, #D4D4D4 100%) 100% 0 100% 0/2px 0 2px 0 stretch !important;
  -moz-border-image: -moz-linear-gradient(left, #D4D4D4 1%, #F44F0F 50%, #D4D4D4 100%) 100% 0 100% 0/2px 0 2px 0 stretch !important;
  -o-border-image: -o-linear-gradient(left, #D4D4D4 1%, #F44F0F 50%, #D4D4D4 100%) 100% 0 100% 0/2px 0 2px 0 stretch !important;
  background-color: #D4D4D4 !important;
  height: 20vh !important;
}
.swiper-slide-nexttome {
  width: 25vw !important;
  height: 90% !important;
}
.swiper-slide-nexttome img {
  width: 100% !important;
  height: 100% !important;
}
.text-align-left {
  text-align: left !important;
}
.text-align-center {
  text-align: center !important;
}
.text-align-right {
  text-align: right !important;
}
.text-align-justify {
  text-align: justify;
}
.button-facebook {
  background-color: #4767AB !important;
  min-width: 50vw !important;
}
.avatar {
  border-radius: 50% !important;
}
.container-avatar-perfil {
  width: 100vw !important;
  height: 35vh !important;
  padding: 0 !important;
  margin: 0 auto !important;
  margin-top: 2vh !important;
  position: relative !important;
  z-index: 1 !important;
  overflow: hidden !important;
}
.camera-avatar-perfil {
  position: absolute !important;
  top: 85% !important;
  width: 44px !important;
  height: 44px !important;
  margin-top: -22px !important;
  z-index: 10 !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: url('../images/svg/camera.svg') !important;
  background-size: 2.5rem !important;
  left: 50%;
  margin-left: -22.5px;
}
.cursor-pointer {
  cursor: pointer !important;
}
.border-top-orange {
  border-top: 1px solid #F44F0F !important;
}
.border-bottom-orange {
  border-bottom: 1px solid #F44F0F !important;
}
.border-bottom-white {
  border-bottom: 1px solid white !important;
}
.notBorder {
  border: 0px !important;
}
.float-right {
  float: right !important;
}
.button-disabled {
  opacity: 0.4 !important;
  cursor: default !important;
  pointer-events: none !important;
}
.white-space-normal {
  white-space: normal !important;
}
.display-flex {
  display: flex !important;
  display: -webkit-flex !important;
}
.align-items-center {
  align-items: center !important;
  -webkit-align-items: center !important;
}
